doctype html
html(lang='pt-br')

  head
    title Jonville TS
    meta(charset='utf-8')
    link(
      href='https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap'
      rel='stylesheet'
    )
    link(href='./styles/main.sass', rel='stylesheet')

  body
    section(id='main', class='content-center')
      div(class='text-center')
        img(src='../assets/images/logo.png', width='240')

        h1
          p
            | Uma comunidade de usuárixs
            br
            | de
            |
            span(class='with-underline') TypeScript
            |
            | de Joinville

    section(id='meetups', class='content-center')
      div(class='container')
        h1 1º Meetup
        span(class='text-bleach') Em breve mais informações
